@import "react-md/src/scss/react-md";
@include react-md-drawers;
@include react-md-theme-everything(
  $md-blue-grey-50, 
  $md-grey-900,
  false,
  'dark-theme'
);

.app-shell > .app-shell-pusher {
  margin-left: $md-drawer-desktop-width;
  width: calc(100% - #{$md-drawer-desktop-width});
  height: 100%;
  position: relative;
  transition: $md-drawer-transition-time ease-out;
  -webkit-transition: $md-drawer-transition-time ease-out;
  -moz-transition: $md-drawer-transition-time ease-out;
}

.app-shell > .app-shell-pusher.transition {
  margin-left: 0;
  width: 100%;
}

// .app-shell > .md-drawer > .md-list {
//   // background: #515e6b;
//   // color: white !important;
// }