@import './common.scss';
@import 'globals';
@include react-md-everything;


body {
    .name-container {
        display: grid;
    }

    .qc-part-view .segment{
        height: 100%;
    }
    file {
        display: none;
    }

    // Push Nav

    

}