@import './common.scss';
@import 'globals';
@include react-md-everything;


body {

    // Push Nav
    .qc-pusher{
        margin-left:$md-drawer-desktop-width;
        width: calc(100% - #{$md-drawer-desktop-width});
        position: relative;
        transition: $md-drawer-transition-time ease-in-out;
        -webkit-transition: $md-drawer-transition-time ease-in-out;
        -moz-transition: $md-drawer-transition-time ease-in-out;
    }

    .qc-pusher.transition {
        margin-left: 0;
        width: 100%;
    }
    

}